* {
    /*general*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playpen Sans", cursive;
    /*otra opcion con variable= font-family: var(--font-family);*/
  }

  ul {
    list-style-type: none; /*general*/
  }


a {
    text-decoration: none; /*general*/
  }
  
  a:hover {
    color: rgb(3, 47, 3); /*general*/
  }

h1 {
    font-size: 32px;
  }


   
  p {
    font-size: 18px;
  }


