nav {
    display: flex;
    align-items: center;
    background-color: rgb(174, 244, 174);
    /*otra opción- color: var(--secondary-color); */
    padding: 20px 30px;
    justify-content: space-between;
  }
  
  nav ul {
    display: flex;
    gap: 40px;
  }
  
 