:root{
    --font-family: "Playpen Sans", cursive; 
    --bg-color: rgb(223, 192, 151);
    --nav-color: rgb(200, 211, 151);
    --footer-color: rgba(243, 183, 114, 0.966);
    --green-color: rgb(174, 244, 174);
}  

