/*:root{
    --font-family: "Playpen Sans", cursive; 
    --bg-color:  rgb(223, 192, 151);
    --primary-color: background-color: rgb(174, 244, 174);
    --secondary-color:  rgb(238, 163, 106);
}  

no se que pasa que no va esto*/